@page "/"

<h1>O&K Studios</h1>

<img src="css/Images/oklogo.png" asp-append-version="true" width="300" />

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter /> 